<h1><%=@entry.name%></h1> 
<p>
<%=@entry.date%><br>
<%=@entry.sign%><br>
<%=@entry.notes%><br>
</p> 
<br> 
<a href="/entries/<%=@entry.id if Helpers.current_user(session) == @entry.user%>/edit">Edit</a> 
<% if Helpers.current_user(session) == @entry.user %>
<form action="/entries/<%=@entry.id%>/delete" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>
<%end%>